@import "tailwindcss";

@layer base {
  :root {
    --access-font-size: 16px;

    --bg-light: #ffffff;
    --text-light: #222222;

    --bg-dark: #222222;
    --text-dark: #ffffff;

    --bg-contrast: #000000;
    --text-contrast: #FFD700;
    --outline-contrast: 2px solid #FFD700;
  }

  body {
    background: var(--bg-light);
    color: var(--text-light);
    font-size: var(--access-font-size);

    transition: background 0.2s ease, color 0.2s ease;
  }

  body.theme-light {
    background: var(--bg-light);
    color: var(--text-light);
  }

  body.theme-dark {
    background: var(--bg-dark);
    color: var(--text-dark);
  }

  body.theme-contrast {
    background: var(--bg-contrast);
    color: var(--text-contrast);
  }

  body.theme-contrast *:focus {
    outline: var(--outline-contrast);
  }
}